<div
  class="cd-backdrop"
  [class.cd-backdrop--visible]="open"
  (mousedown)="onBackdrop($event)"
>
  @if (open) {
    <div class="cd-dialog" [ngClass]="size">
      <div class="cd-title">{{ title }}</div>
      <div class="cd-helper">{{ helper }}</div>

      <!-- Custom HTML goes here -->
      <div class="cd-content">
        <ng-content></ng-content>
      </div>

      <div class="cd-actions">
        <app-buttons variant="type2" size="large" color="var(--primary-400)" actionType="closePopUp">{{cancelText}}</app-buttons>

        <app-buttons variant="type1" size="large" color="var(--primary-400)" [actionType]="confirmPopupAction">{{confirmText}}</app-buttons>
      </div>
    </div>
  }
</div>
